# Build Folders
bin
obj

# Test Results
TestResults

# User Settings
*.suo

# Generated Code Files
Common.cs
DataRow.cs
IDataAccessComponent.cs
DataAccessComponent.cs
DataAccessComponents.Factory/Generators/Snippets/Invocation.txt
DataAccessComponents.Factory/Generators/Snippets/Mocking.txt
DataAccessComponentTests.cs
TestTable.cs

# Dependencies
Dependencies