# Build Folders
bin
obj

# Test Results
TestResults

# User Settings
*.suo

# Generated Code Files
Common.cs
DataRow.cs
IDataAccessComponent.cs
DataAccessComponent.cs
DataAccessComponentTests.cs
TestTable.cs