# Build Folders
bin
obj

# Test Results
TestResults

# User Settings
*.suo

# Generated Code Files
BusinessLogicComponent.cs
BusinessLogicComponentTestHarness.cs
Common.cs
DataRow.cs
DataAccessComponent.cs
DataAccessComponents.Factory/Generators/Snippets/Invocation.txt
DataAccessComponents.Factory/Generators/Snippets/Mocking.txt
DataAccessComponentTests.cs
IBusinessLogicComponent.cs
IDataAccessComponent.cs
TestTable.cs

# Dependencies
Dependencies