<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="SampleHttpApplication" connectionString="Data Source=localhost;Initial Catalog=SampleHttpApplication;Integrated Security=True" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="SampleHttpApplication.BusinessLogicComponents.Code" />
    <assembly name="SampleHttpApplication.BusinessLogicComponents.Interface" />
    <assembly name="SampleHttpApplication.DataAccessComponents.Code" />
    <assembly name="SampleHttpApplication.DataAccessComponents.Interface" />
    <assembly name="SampleHttpApplication.Infrastructure.Code" />
    <assembly name="SampleHttpApplication.Infrastructure.Interface" />
    <assembly name="SampleHttpApplication.ServiceFacadeComponents.Code" />
    <container>
      <register type="SampleHttpApplication.DataAccessComponents.Interface.IDatabaseConnectionProvider" mapTo="SampleHttpApplication.DataAccessComponents.Code.DatabaseConnectionProvider" />
      <register type="SampleHttpApplication.DataAccessComponents.Interface.CourseSchedule.ICourseScheduleDataAccessComponent" mapTo="SampleHttpApplication.DataAccessComponents.Code.CourseSchedule.CourseScheduleDataAccessComponent" />
      <register type="SampleHttpApplication.DataAccessComponents.Interface.Session.ISessionDataAccessComponent" mapTo="SampleHttpApplication.DataAccessComponents.Code.Session.SessionDataAccessComponent" />
      <register type="SampleHttpApplication.BusinessLogicComponents.Interface.Scheduling.ISchedulingBusinessLogicComponent" mapTo="SampleHttpApplication.BusinessLogicComponents.Code.Scheduling.SchedulingBusinessLogicComponent" />
      <register type="SampleHttpApplication.Infrastructure.Interface.UniqueToken.IUniqueTokenGenerator" mapTo="SampleHttpApplication.Infrastructure.Code.UniqueToken.UniqueTokenGenerator" />
      <register type="SampleHttpApplication.ServiceFacadeComponents.Code.Scheduling.Sessions.SessionsController" />
    </container>
  </unity>
</configuration>